.footer {
    background-color: #182235; /* 배경 색 */
    color: #e1e5eb;            /* 텍스트 색 */
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  