*,
body {
  font-family: 'NanumSquareAcb'
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  position: relative;
}

.logo {
  max-width: 200px;
  height: auto;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  transition: color 0.3s ease;
  font-family: NanumSquareAcb;
}

.menu a:hover {
  color: #555;
}

.auth-buttons {
  display: flex;
  gap: 10px; /* 간격을 원하는 만큼 조절 */
}

.header-login-btn, 
.header-signup-btn,
.header-logout-btn {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.header-login-btn {
  background-color: #E6E6E6;
  color: rgb(0, 0, 0);
}

.header-logout-btn {
  background-color: #db4d4d;
  color: rgb(255, 255, 255);
}

.header-signup-btn {
  background-color:rgb(95, 216, 125);
  color: white !important;
}

.hamburger-btn {
  display: none;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-btn {
    display: block;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 10;
  }

  .menu.open {
    display: flex;
  }

}