@tailwind base;
@tailwind components;
@tailwind utilities;

.header-style {
    @apply dark:text-darkHighlight font-extrabold mb-2;
}
.header-style-border {
  @apply dark:text-darkHighlight font-extrabold my-2 border-b-2 text-2xl border-b-[#ffffff];
}
.input_box{
    @apply input input-bordered rounded-sm w-full;
}
/* 방 카드 컨테이너 스타일 */
.room-card {
    @apply rounded-sm p-4 bg-primaryBoxcolor dark:bg-darkBoxColor dark:text-darkText shadow-lg text-center hover:brightness-75;
    min-height: 150px; /* 최소 높이 */
    height: auto;      /* 내용에 따라 높이 유동적으로 변경 */
    min-width: 300px;  /* 최소 너비 */
    max-width: 400px;  /* 최대 너비 */
  }
  
  /* 잠긴 방 아이콘 스타일 */
  .lock-icon {
    @apply dark:text-darkHighlight mx-auto;
  }
  
  /* 방 이름 스타일 */
  .room-name {
    @apply font-semibold;
  }
  
  /* 참여자 수 텍스트 스타일 */
  .participant-count {
    @apply text-sm mt-1;
  }
  
  /* 정보 텍스트 (언어, 태그 등) 스타일 */
  .info-text {
    @apply text-sm mt-1;
  }
  

  .dark-button {
    @apply bg-primaryHighlight dark:bg-darkHighlight text-primaryText dark:text-darkText font-bold py-2 px-4 rounded-sm;
  }
/* 셀렉트 구현 스타일링 feat.gpt */
  .custom-select {
    position: relative;
    display: inline-block;
  }
  
  .selected-value {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .options {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;/* 기본적으로 숨김 */
  }
  
  .options li {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .options li:hover {
    background-color: #f3f3f3;
  }