.sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  min-height: 100vh;
}

.sidebar-menu li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.sidebar-menu li:hover {
  background-color: #ddd;
}


.sidebar-menu .active {
  font-weight: bold;
  background-color: #ccc;
}
